.riversBox {
  background-color: rgba(108,108,233,0.2);
  padding:20px 0 30px 5px;

  &_title {
    padding:25px 0;
  }

  &_selectBox {
    padding-left:10px;
    @media (min-width:485px) {
      display:flex;
      justify-content: space-around;
    }

    &__select {
      margin-bottom:20px;
      &:nth-child(2) {
        @media (min-width:485px) {
          margin-left:20px;
        }
      }
    }
  }

  &_selectedListTitle {
    display:flex;
    justify-content:center;
    margin:25px 0;
  }

  &_selectedList {
    margin-top:20px;
    list-style:none;

    &__items {
      padding-left:25px;
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items:flex-start;
      @media (min-width:485px) {
        align-items:center;
      }
    }

    &__link {
      display:flex;
      justify-content:flex-end;
      width:90%;
    }
  }
}

.selectedList_item {
  margin-bottom:20px;
  display:flex;
  flex-direction:column;

  &__paragraph {
    margin:0;
  }
}

.nativeSelect {
  margin-left:10px;
}