.showImageBox {
  background-color: rgba(108, 108, 233, 0.2);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_content {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;

    &__img {
      width:80%;
      height:30%;
      margin-bottom:15px;
    }
  }

  &_noContent {
    width:90%;
    height:calc(100vh - 432px);
    display:flex;
    justify-content:center;
    align-items:center;
    @media (min-width:485px) {
      padding-top: 100px;
      align-items: flex-start;
    }
  }
}

.noShowImageBox {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:rgba(108,108,233,0.2);
  height: calc(100vh - 333px);
  @media (min-width:485px) {
    justify-content: flex-start;
  }

  &_content {
    @media (min-width:485px) {
      padding-top:200px;
    }
  }
}